2. ARM Cortex-M/The_definitive_guide_to_cortexM.pdf
2. ARM Cortex-M/arm_cortexm4_generic_user_guide.pdf
2. ARM Cortex-M/arm_cortexm4_processor_trm_100166_0001_04_en.pdf
4. MiroSamek Object Oriented Programming/Design_Patterns_for_Embedded_Systems.pdf
4. MiroSamek Object Oriented Programming/Large_Scale_CPP_Software_Design.pdf
.obsidian/*